*,
*.after,
*.befor {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(66, 64, 64, 0.1);
}

#header {
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 0 3px rgb(90, 83, 83);
    max-width: 100%;
}

.nav_box {
    position: relative;
    display: flex;
    align-content: center;
    min-height: 40px;
}

.hamburger_menu {
    display: flex;
}

#menu__toggle {
    opacity: 0;
}

#nav_bar {
    display: flex;
    width: 1000px;
    justify-content: flex-end;
}

.nav_link {
    display: flex;
    justify-content: space-between;
    transition: all .5s;
}

.nav_link>a {
    padding: 15px 45px;
    text-decoration: none;
    color: #000000;
    font-family: 'Shippori Mincho', serif;
}

.nav_content:hover {
    background: rgba(92, 89, 89, 0.67);
}


/*  SEARCH  */

#search {
    max-width: 100%;
    margin: 50px 50px 20px;
    justify-content: center;
    display: flex;
}

#input {
    width: 50%;
    font-size: 20px;
    margin: 0;
    outline: none;
    border: none;
    background: rgba(24, 24, 24, 0.2);
    padding-left: 30px;
    border-radius: 20px 0 0 20px;
}

::-webkit-input-placeholder {
    color: #000;
    font-family: 'Shippori Mincho', serif;
}

#btn {
    width: 100px;
    margin: 0;
    font-size: 30px;
    padding: 8px;
    outline: none;
    border: none;
    background: rgba(24, 23, 23, 0.6);
    border-radius: 0 20px 20px 0;
    font-family: 'Shippori Mincho', serif;
    ;
    cursor: pointer;
    transition: all .3s;
}

#btn:hover {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

#btn:active {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5) inset;
}


/*  FILTER   */

#filter {
    max-width: 100%;
    display: none;
    justify-content: center;
}

#genre,
#lang,
#quantity {
    cursor: pointer;
}

.dropdown {
    background: rgba(24, 23, 23, 0.6);
    font-family: 'Shippori Mincho', serif;
    border: none;
    margin-left: 10px;
    width: 150px;
    outline: none;
    font-size: 15px;
    border-radius: 20px;
    padding: 5px;
}


/* PAGINATION */

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.pagination_arrow {
    background-image: url("../assets/img/iconfinder_icon-ios7-arrow-forward_211688.png");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transform: scale(.4);
    outline: none;
    width: 70px;
    background-color: transparent;
    height: 70px;
    border: none;
}

.page_number,
#dropdown_page {
    width: 30px;
    height: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    list-style: none;
}

#arrow_left {
    transform: rotate(180deg) scale(.4);
}

#dropdown_page {
    position: relative;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    user-select: none;
}

.trigger_dropdown {
    width: 30px;
    height: 30px;
}

.dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #000000;
    border-radius: 50%;
    top: 60%;
    left: 40%;
    transition: all .5s;
}

.dot_click {
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: #000000;
    border-radius: 0;
    top: 5px;
    left: 50%;
    transition: all .5s;
}

.dot.dot_click:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 2px;
    width: 2px;
    height: 13px;
    border-radius: 0;
    transform: rotate(20deg);
    transition: all .3s;
}

.dot.dot_click:before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 2px;
    width: 2px;
    height: 13px;
    border-radius: 0;
    transform: rotate(-20deg);
    transition: all .3s;
}

.dot:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 5px;
    height: 5px;
    background-color: #000000;
    border-radius: 50%;
    transition: all .3s;
}

.dot:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 5px;
    height: 5px;
    background-color: #000000;
    border-radius: 50%;
    transition: all .3s;
}

.dropdown_menu {
    display: none;
    transition: display .3s ease;
}

.drop {
    display: block;
}

.dropdown_menu>li {
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    list-style: none;
    width: 35px;
    height: 30px;
}

.pagination_arrow:hover,
.page_number:hover,
.dropdown_item:hover {
    border-radius: 50%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.pagination_arrow:active,
.page_number:active,
.dropdown_item:active {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5) inset;
}

#currentPage {
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
    font-family: 'Shippori Mincho', serif;
}

.quantity {
    width: 50px;
}


/*  NOT FOUND  */

#not_found {
    display: none;
    text-align: center;
}

#not_found img {
    max-width: 500px;
}


/*  CARDS   */

#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#divFilms {
    position: relative;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(19, 17, 17, 0.5);
    display: flex;
    margin: 40px;
    width: 38%;
    min-height: 300px;
}

#back_for_card {
    position: relative;
    transition: all .3s;
    width: 300px;
}

#back_for_card:hover {
    transform: translateY(-20px);
}

#card {
    display: block;
    width: 100%;
    border-radius: 20px;
    transition: all .3s;
}

#imgLike {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 50px;
}

#imgLike:hover {
    transform: scale(1.2);
    backdrop-filter: none;
}

#back_for_card:hover::after {
    opacity: 1;
}

#descr {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    font-family: 'Shippori Mincho', serif;
    ;
    font-size: 40px;
    font-weight: 900;
    margin-left: 20px;
}

#descr p {
    font-weight: 400;
    font-size: 20px;
}

#scroll_top {
    background-image: url("../assets/img/iconfinder_icon-ios7-arrow-forward_211688.png");
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-position: center;
    margin: 20px;
    transform: rotate(270deg);
    border: solid 2px #000000;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.5);
}

#scroll_top:hover {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

#scroll_top:active {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5) inset;
}

@media (max-width: 1024px) {
    #divFilms {
        width: 420px;
        margin: 10px 15px 50px;
    }
    #descr {
        width: 300px;
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    #divFilms {
        width: auto;
        margin: 10px 10px 50px;
    }
    #back_for_card {
        width: auto;
    }
    #card {
        width: 100%;
        margin-bottom: 10px;
    }
    #descr {
        width: 300px;
        margin-left: 20px;
    }
    #descr p {
        margin-top: 10px;
    }
    .hamburger_menu {
        position: relative;
        z-index: 5;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 7px;
        right: 10px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: relative;
        width: 100%;
        height: 2px;
        background-color: rgba(24, 23, 23, 0.6);
        transition-duration: .5s;
    }
    .menu__btn>span::before {
        content: '';
        top: -8px;
    }
    .menu__btn>span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: rgb(24, 24, 24);
        box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.9);
        transition-duration: 0.5s;
    }
    #nav_bar {
        display: block;
        width: 300px;
    }
    .nav_link {
        text-align: center;
        justify-content: center
    }
    .nav_link>a {
        color: #ffffff;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        color: #ffffff;
    }
    .nav_content:hover {
        color: #ffffff;
        background-color: rgba(24, 24, 24, 0.2);
        margin-right: 10px;
        border-radius: 20px;
        box-shadow: 2px 2px 20px rgb(0, 0, 0);
    }
    .nav_content:active {
        box-shadow: 2px 2px 10px rgb(0 0 0) inset;
    }
    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
        background-color: #ffffff;
    }
    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
        background-color: #ffffff;
    }
    #menu__toggle:checked~.menu__btn>span::after {
        top: -2px;
        transform: rotate(90deg);
        background-color: #ffffff;
    }
    #menu__toggle:checked~.menu__box {
        visibility: visible;
        right: 0;
    }
}

@media (max-width: 480px) {
    #divFilms {
        display: block;
        width: 300px;
        margin: 10px 10px 50px;
    }
    #descr {
        width: auto;
        font-size: 30px;
        margin-left: 0;
    }
    .menu__box {
        width: 70%;
        height: 150px;
    }
    .menu__item {
        font-size: 15px;
        text-align: center;
    }
}

@media (max-width: 320px) {
    .nav_link {
        margin-left: 0;
    }
    .menu__box {
        width: 175px;
    }
    .menu__btn {
        top: 15px;
        width: 25px;
        height: 10px;
    }
}