*,
*.after,
*.befor {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(66, 64, 64, 0.1);
}

#header {
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 0 3px rgb(90, 83, 83);
    max-width: 100%;
    
}

#nav_bar {
    display: flex;
    width: 1000px;
    justify-content: flex-end;
}

.nav_link {
    display: flex;
    justify-content: space-between;
    transition: all .5s;
}

.nav_link > a {
    padding: 15px 45px;
    text-decoration: none;
    color: #000000;
    font-family: 'Shippori Mincho', serif;;
}

.nav_link:hover {
    background: rgba(92, 89, 89, 0.67);
}

/*  SEARCH  */

#search {
    max-width: 100%;
    margin: 50px 50px 20px;
    justify-content: center;
    display: flex;
}

#input {
    width: 50%;
    font-size: 20px;
    margin: 0;
    outline: none;
    border: none;
    background: rgba(24, 24, 24, 0.2);
    padding-left: 30px;
    border-radius: 20px 0 0 20px;
}

::-webkit-input-placeholder {
    color:#000;
    font-family: 'Shippori Mincho', serif;;
}

#btn {
    width: 100px;
    margin: 0;
    font-size: 30px;
    padding: 8px;
    outline: none;
    border: none;
    background: rgba(24, 23, 23, 0.6);
    border-radius: 0 20px 20px 0;
    font-family: 'Shippori Mincho', serif;;
    cursor: pointer;
    transition: all .3s;
}

#btn:hover {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

#btn:active{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5) inset;
}

/*  FILTER   */

#filter {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown {
    background: rgba(24, 23, 23, 0.6);
    font-family: 'Shippori Mincho', serif;
    border: none;
    margin-left: 10px;
    width: 150px;
    outline: none;
    font-size: 15px;
    border-radius: 20px;
    padding: 5px;
}

/* PAGINATION */

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.pagination_arrow {
    background-image: url("../assets/img/iconfinder_icon-ios7-arrow-forward_211688.png");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transform: scale(.4);
    outline: none;
    width: 70px;
    background-color: transparent;
    height: 70px;
    border: none;
}

.page_number,
#dropdown_page{
    width: 30px;
    height: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    list-style: none;
}

#arrow_left{
    transform: rotate(180deg) scale(.4);
}

#dropdown_page{
    position: relative;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    user-select: none;
}

.trigger_dropdown {
    width: 30px;
    height: 30px;
}

.dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #000000;
    border-radius: 50%;
    top: 60%;
    left: 40%;
    transition: all .5s;
}

.dot_click {
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: #000000;
    border-radius: 0;
    top: 5px;
    left: 50%;
    transition: all .5s;
}
.dot.dot_click:after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 2px;
    width: 2px;
    height: 13px;
    border-radius: 0;
    transform: rotate(20deg);
    transition: all .3s;
}

.dot.dot_click:before{
    content: '';
    position: absolute;
    bottom: 0px;
    right: 2px;
    width: 2px;
    height: 13px;
    border-radius: 0;
    transform: rotate(-20deg);
    transition: all .3s;
}


.dot:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 5px;
    height: 5px;
    background-color: #000000;
    border-radius: 50%;
    transition: all .3s;
}

.dot:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 5px;
    height: 5px;
    background-color: #000000;
    border-radius: 50%;
    transition: all .3s;
}

.dropdown_menu{
    display: none;
    transition: display .3s ease;
}

.drop {
    display: block;
}

.dropdown_menu>li{
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    list-style: none;
    width: 35px;
    height: 30px;

}

.pagination_arrow:hover,
.page_number:hover,
.dropdown_item:hover{
    border-radius: 50%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.pagination_arrow:active,
.page_number:active,
.dropdown_item:active{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5) inset;
}

#currentPage{
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
    font-family: 'Shippori Mincho', serif;
}

/*  CARDS   */

#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#divFilms {
    position: relative;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(19, 17, 17, 0.5);
    display: flex;
    margin: 40px;
    width: 38%;
    min-height: 300px;
}

#back_for_card{
    position: relative;
    transition: all .3s;
    width: 300px;
}

#back_for_card:hover{
    transform: translateY(-20px);
}

#card {
    display: block;
    width: 100%;
    border-radius: 20px;
    transition: all .3s;
}

#imgLike{
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 50px;
}

#imgLike:hover {
    transform: scale(1.2);
    backdrop-filter: none;
}

#back_for_card:hover::after{
    opacity: 1;
}

#descr {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    font-family: 'Shippori Mincho', serif;;
    font-size: 40px;
    font-weight: 900;
    margin-left: 20px;
}
#descr p {
    font-weight: 400;
    font-size: 20px;
}


